{% extends 'tasks/main.html' %}

{% block 'content' %}
<p>Are you sure you want to delete "{{ item }}" ?</p>
<a href="{% url 'index' %}">Cancel</a>

<form method="POST" action="">
	{% csrf_token %}
	<input type="submit" name="Confirm">
</form>
{% endblock %}