{% extends 'tasks/main.html' %}

{% block 'content' %}
	<form method="POST" action="/">
		{% csrf_token %}
		{{ form.title }}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>

	<div class="todo-list">
		{% for task in tasks %}
			<div class="item-row">
				<a class="btn btn-sm btn-warning" href="{% url 'update_task' task.id %}">Update <i class="fa fa-edit"></i></a>
				<a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete <i class="fa fa-trash"></i></a>

				{% if task.complete == True %}
					<strike>{{task}}</strike>
				{% else %}
					{{ task.title }}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}